$color-header: #fff;
$description-color: #888;
$link-color: #888;
$color-text: #000;
$background-color: #f7f6f6;
$border-color: #cacdd8;
$price-color: #050505;
$oldprice-color: #888;
$font-stack: "Montserrat", sans-serif;
